:root {
  --color-focus: #000000;
  --color-on-primary: #ffffff;
  --color-on-surface: #000000;
  --color-primary: #b80c62;
  --color-primary-highlight: #660828;
  --color-secondary: #006141;
  --color-slider-thumb: #575a64;
  --color-slider-track: #9ba8ac;
  --color-surface: #ffffff;
  --color-structure: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:link,
a:visited {
  color: var(--color-primary);
}

a:focus {
  outline: 3px solid var(--color-focus);
  outline-offset: 4px;
}

a:focus,
a:hover {
  color: var(--color-primary-highlight);
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  margin: 8px 0;
  font-weight: 700;
}

h2 {
  margin: 8px 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background: url("../Assets/Images/radio-button-unchecked-24px.svg");
  border-radius: 999px;
  height: 24px;
  width: 24px;
}

input[type="radio"]:checked {
  background: url("../Assets/Images/radio-button-checked-24px.svg");
}

input[type="radio"]:focus {
  outline: 3px solid var(--color-focus);
}

main {
  margin: auto;
  max-width: 800px;
}

select {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-structure);
  background-image: url("../Assets/Images/arrow-drop-down-24px.svg");
  background-size: 24px 24px;
  background-position: right 4px bottom 4px;
  background-repeat: no-repeat;
  border: 1px solid var(--color-on-surface);
  border-radius: 2px;
  font-size: 1rem;
  line-height: 1.5;
  padding-block-end: 4px;
  padding-block-start: calc(1rem + 12px);
  padding-inline-end: 28px;
  padding-inline-start: 8px;
}

select:focus {
  box-shadow: 0 0 0 3px var(--color-focus);
  outline: none;
}

.control-label {
  color: var(--color-secondary);
  display: block;
  font-family: "Bitter", serif;
  font-weight: 500;
}

.form-control {
  margin-bottom: 16px;
}

.main-canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  max-width: 600px;
  width: 100%;
}

.main-footer {
  margin: auto;
  max-width: 800px;
  padding: 32px 0 16px 0;
}

.main-header {
  margin: auto;
  max-width: 800px;
}

.number-field {
  position: relative;
}

.number-field__label {
  font-family: "Bitter", serif;
  font-weight: 500;
  left: 8px;
  position: absolute;
  top: 4px;
}

.number-field__input {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-structure);
  border: 1px solid var(--color-on-surface);
  border-radius: 2px;
  font-size: 1rem;
  line-height: 1.5;
  padding-block-end: 4px;
  padding-block-start: calc(1rem + 12px);
  padding-inline-end: 8px;
  padding-inline-start: 8px;
}

.number-field__input:focus {
  box-shadow: 0 0 0 3px var(--color-focus);
  outline: none;
}

.radio-button__label {
  margin-left: 4px;
}

.radio-group__choice {
  display: flex;
}

.select-field {
  position: relative;
}

.select-field__label {
  left: 12px;
  position: absolute;
  top: 4px;
}

.settings-grid {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(2, 1fr);
}

.slider__input {
  -webkit-appearance: none;
  background: transparent;
  padding: 8px 0;
  width: 100%;
}

.slider__input:focus {
  outline: none;
}

.slider__input::-moz-range-track {
  background: var(--color-slider-track);
  height: 8px;
  width: 100%;
}

.slider__input::-moz-range-thumb {
  border: none;
  border-radius: 999px;
  background: var(--color-slider-thumb);
  height: 24px;
  width: 12px;
}

.slider__input:focus::-moz-range-thumb {
  box-shadow: 0 0 0 3px var(--color-focus);
}

.slider__input::-webkit-slider-runnable-track {
  background: var(--color-slider-track);
  height: 8px;
  width: 100%;
}

.slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 999px;
  background: var(--color-slider-thumb);
  height: 24px;
  margin-top: -8px;
  width: 12px;
}

.slider__input:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px var(--color-focus);
}

.submit-button {
  -webkit-appearance: none;
  appearance: none;
  background: var(--color-primary);
  border: none;
  border-radius: 2px;
  color: var(--color-on-primary);
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  padding: 4px 16px;
}

.submit-button:focus {
  box-shadow: 0 0 0 3px var(--color-focus);
  outline: none;
}

.submit-button:focus,
.submit-button:hover {
  background-color: var(--color-primary-highlight);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media only screen and (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 1fr 400px;
    max-width: 1000px;
  }

  .control-frame {
    padding: 0 24px;
  }

  .main-footer {
    max-width: 1000px;
  }

  .main-header {
    max-width: 1000px;
  }
}
