:root {
  --color-black: #000000;
  --color-border-shadow: rgba(0, 0, 0, 0.1);
  --color-focus: #000000;
  --color-button-secondary: #bfbfbf;
  --color-button-secondary-highlight: #dfdfdf;
  --color-hue-slider-thumb: #8c909e;
  --color-neutral-grey: #8f8f8f;
  --color-on-button-secondary: #000000;
  --color-on-primary: #ffffff;
  --color-on-surface: #000000;
  --color-primary: #b80c62;
  --color-primary-highlight: #660828;
  --color-secondary: #006141;
  --color-slider-thumb: #575a64;
  --color-slider-track: #9ba8ac;
  --color-surface: #ffffff;
  --color-structure: #ffffff;
  --color-white: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:link,
a:visited {
  color: var(--color-primary);
}

a:focus {
  outline: 3px solid var(--color-focus);
  outline-offset: 4px;
}

a:focus,
a:hover {
  color: var(--color-primary-highlight);
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  margin: 8px 0;
  font-weight: 700;
}

h2 {
  margin: 8px 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background: url("../Assets/Images/radio-button-unchecked-24px.svg");
  border-radius: 999px;
  height: 24px;
  width: 24px;
}

input[type="radio"]:checked {
  background: url("../Assets/Images/radio-button-checked-24px.svg");
}

input[type="radio"]:focus {
  outline: 3px solid var(--color-focus);
}

main {
  margin: auto;
  max-width: 800px;
}

select {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-structure);
  background-image: url("../Assets/Images/arrow-drop-down-24px.svg");
  background-size: 24px 24px;
  background-position: right 4px bottom 4px;
  background-repeat: no-repeat;
  border: 1px solid var(--color-on-surface);
  border-radius: 2px;
  font-size: 1rem;
  line-height: 1.5;
  padding-block-end: 4px;
  padding-block-start: calc(1rem + 12px);
  padding-inline-end: 28px;
  padding-inline-start: 8px;
}

select:focus {
  box-shadow: 0 0 0 3px var(--color-focus);
  outline: none;
}

.button {
  -webkit-appearance: none;
  appearance: none;
  background: var(--color-primary);
  border: none;
  border-radius: 2px;
  color: var(--color-on-primary);
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  padding: 4px 16px;
}

.button:focus {
  box-shadow: 0 0 0 3px var(--color-focus);
  outline: none;
}

.button:focus,
.button:hover {
  background-color: var(--color-primary-highlight);
}

.control-label {
  color: var(--color-secondary);
  display: block;
  font-family: "Bitter", serif;
  font-weight: 500;
}

.color-button {
  -webkit-appearance: none;
  align-items: center;
  appearance: none;
  background: var(--color-button-secondary);
  border: none;
  border-radius: 2px;
  color: var(--color-on-button-secondary);
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5;
  padding: 4px 16px;
}

.color-button:focus {
  box-shadow: 0 0 0 3px var(--color-focus);
  outline: none;
}

.color-button:focus,
.color-button:hover {
  background-color: var(--color-button-secondary-highlight);
}

.color-button__swatch {
  background: var(--color-black);
  border: 1px solid var(--color-black);
  display: block;
  height: 20px;
  margin-inline-end: 8px;
  width: 20px;
}

.color-control-row {
  display: flex;
  padding: 16px 0;
}

.color-control-row .color-button {
  margin-right: 8px;
}

.color-control-row .color-button:last-child {
  margin-right: 0;
}

.color-picker {
  background: var(--color-surface);
  box-shadow: 0 0 4px 1px var(--color-border-shadow);
  padding: 16px;
  width: 250px;
}

.color-picker__row {
  display: flex;
  padding-block-start: 16px;
}

.color-picker__swatch {
  background: var(--color-black);
  border: 1px solid var(--color-black);
  border-radius: 2px;
  height: 58px;
  margin-inline-end: 16px;
  min-width: 58px;
  width: 58px;
}

.flex-grow {
  flex-grow: 1;
}

.form-control {
  margin-bottom: 16px;
}

.hue-slider__input {
  -webkit-appearance: none;
  background: transparent;
  height: 36px;
  padding-block-end: 8px;
  padding-block-start: 8px;
  width: 100%;
}

.hue-slider__input:focus {
  outline: none;
}

.hue-slider__input:focus::-moz-range-thumb {
  box-shadow: 0 0 0 3px var(--color-focus);
}

.hue-slider__input::-moz-range-thumb {
  background: var(--color-hue-slider-thumb);
  border: none;
  border-radius: 0;
  height: 36px;
  width: 8px;
}

.hue-slider__input::-moz-range-track {
  background: linear-gradient(
    to right,
    #ff0000 0%,
    #ffff00 17%,
    #00ff00 33%,
    #00ffff 50%,
    #0000ff 67%,
    #ff00ff 83%,
    #ff0000 100%
  );
  height: 24px;
  width: 100%;
}

.hue-slider__input::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    #ff0000 0%,
    #ffff00 17%,
    #00ff00 33%,
    #00ffff 50%,
    #0000ff 67%,
    #ff00ff 83%,
    #ff0000 100%
  );
  height: 24px;
  width: 100%;
}

.hue-slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--color-hue-slider-thumb);
  border: none;
  border-radius: 0;
  height: 36px;
  margin-top: -6px;
  width: 8px;
}

.hue-slider__input:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px var(--color-focus);
}

.margin-block-end-16 {
  margin-block-end: 16px;
}

.margin-block-start-16 {
  margin-block-start: 16px;
}

.main-canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  max-width: 600px;
  width: 100%;
}

.main-frame {
  padding: 0 16px;
}

.main-footer {
  margin: auto;
  max-width: 800px;
  padding: 32px 0 16px 0;
}

.main-header {
  margin: auto;
  max-width: 800px;
}

.number-field {
  position: relative;
}

.number-field__label {
  font-family: "Bitter", serif;
  font-weight: 500;
  left: 8px;
  position: absolute;
  top: 4px;
}

.number-field__input {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-structure);
  border: 1px solid var(--color-on-surface);
  border-radius: 2px;
  font-size: 1rem;
  line-height: 1.5;
  padding-block-end: 4px;
  padding-block-start: calc(1rem + 12px);
  padding-inline-end: 8px;
  padding-inline-start: 8px;
}

.number-field__input:focus {
  box-shadow: 0 0 0 3px var(--color-focus);
  outline: none;
}

.radio-button__label {
  margin-left: 4px;
}

.radio-group__choice {
  display: flex;
}

.saturation-value__field {
  background-color: #ff0000;
  background-image: linear-gradient(
      to top,
      rgb(0, 0, 0),
      rgba(204, 154, 129, 0)
    ),
    linear-gradient(to right, rgb(255, 255, 255), rgba(204, 154, 129, 0));
  height: 128px;
  touch-action: none;
  width: 100%;
}

.select-field {
  position: relative;
}

.select-field__label {
  left: 12px;
  position: absolute;
  top: 4px;
}

.settings-grid {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(2, 1fr);
}

.slider__input {
  -webkit-appearance: none;
  background: transparent;
  padding: 8px 0;
  width: 100%;
}

.slider__input:focus {
  outline: none;
}

.slider__input::-moz-range-track {
  background: var(--color-slider-track);
  height: 8px;
  width: 100%;
}

.slider__input::-moz-range-thumb {
  border: none;
  border-radius: 999px;
  background: var(--color-slider-thumb);
  height: 24px;
  width: 12px;
}

.slider__input:focus::-moz-range-thumb {
  box-shadow: 0 0 0 3px var(--color-focus);
}

.slider__input::-webkit-slider-runnable-track {
  background: var(--color-slider-track);
  height: 8px;
  width: 100%;
}

.slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 999px;
  background: var(--color-slider-thumb);
  height: 24px;
  margin-top: -8px;
  width: 12px;
}

.slider__input:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px var(--color-focus);
}

.slider-2d {
  margin: -12px;
  padding: 12px;
  position: relative;
}

.slider-2d__field {
  background: var(--color-neutral-grey);
  height: 128px;
  touch-action: none;
}

.slider-2d__thumb {
  background-color: var(--color-black);
  border: 1px solid var(--color-black);
  bottom: 0;
  border-radius: 999px;
  height: 24px;
  left: 0;
  position: absolute;
  width: 24px;
}

.slider-2d__thumb:focus {
  box-shadow: 0 0 0 3px var(--color-focus);
  outline: none;
}

.slider-2d__thumb::after {
  border: 1px solid var(--color-white);
  border-radius: 999px;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.slider-2d__thumb-label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.submit-button {
  -webkit-appearance: none;
  appearance: none;
  background: var(--color-primary);
  border: none;
  border-radius: 2px;
  color: var(--color-on-primary);
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  padding: 4px 16px;
}

.submit-button:focus {
  box-shadow: 0 0 0 3px var(--color-focus);
  outline: none;
}

.submit-button:focus,
.submit-button:hover {
  background-color: var(--color-primary-highlight);
}

.text-field {
  position: relative;
}

.text-field__label {
  font-family: "Bitter", serif;
  font-weight: 500;
  left: 8px;
  position: absolute;
  top: 4px;
}

.text-field__input {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-structure);
  border: 1px solid var(--color-on-surface);
  border-radius: 2px;
  font-size: 1rem;
  line-height: 1.5;
  padding-block-end: 4px;
  padding-block-start: calc(1rem + 12px);
  padding-inline-end: 8px;
  padding-inline-start: 8px;
}

.text-field__input:focus {
  box-shadow: 0 0 0 3px var(--color-focus);
  outline: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.width-100 {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 1fr 400px;
    max-width: 1000px;
  }

  .control-frame {
    padding: 0 24px;
  }

  .main-footer {
    max-width: 1000px;
  }

  .main-header {
    max-width: 1000px;
  }
}
